language: python
python:
  - 3.7
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
  - pip install boto3
install:
  - pip install ".[test]" . # install package + test dependencies
script: python tests/test_handler.py
after_success:
  - codecov # submit coverage
